.padding {
    padding: 3%;
    margin: 2%;
}

col {
    padding: 0;
}

.col {
    padding: 0;
}

. {
    background-image: linear-gradient(to bottom right, rgb(1, 1, 61), navy);
}

.card-body p {
    color: white;
}

.container {
    margin: 0;
}